<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/BrightSdkUpdateSample" version="1.0.0" viewmodes="maximized">
    <tizen:application id="Dhdb1QcfNf.BrightSdkUpdateSample" package="Dhdb1QcfNf" required_version="8.0"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>BrightSdkUpdateSample</name>
    <tizen:profile name="tizen"/>
</widget>
